* {
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow-x: hidden;
}
header {
  width: 100%;
  background-color: black;
}

.navbar {
  display: flex;
  height: 72px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  width: 100%;
  padding: 16px 0px;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  z-index: 100;
}

#hamburger-menu{
  fill: rgb(245, 245, 245);
  
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 173px;
  height: 40px;
}

#nav-options{
  display: flex;
  font-size: 12px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#nav-options a{
  font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: rgb(245, 245, 245);
  text-align: center;
  cursor: pointer;
  font-weight: 500;
}

#search-icon{
  height: 18px;
  margin: 0.5em;
  padding:5px;
  padding-right: 15px;
}

#subscribe{
  background: #0787ca;
  color: #fff;
  display: block;
  border-radius: 2px;
  height: 100%;
  line-height: 30px;
  text-align: center;
  width: 110px;
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  background-color: black;
  color: white;
  justify-content: space-between;
  width: 100%;
  min-height: 70vh;
  cursor: pointer;
}

.header-container__element img {
  max-width: none;
  width: 61vw;
  height: 86vh;
  object-fit: cover;
  object-position: center 40%;
  padding: 0;
  margin: 0;
  scale: 0.8;
}

.header-container__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
  margin-left: -80px;
  width: 30%;
  padding-right: 40px;
}

.header-container__element a{
  font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: rgb(245, 245, 245);
  text-align: center;
  cursor: pointer;
  font-weight: 500;
}

.header-container__element p {
  text-align: center;
  font-size: 20px;
  max-width: 350px;
}

.header-container__element h3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: left;
  font-family: IrvinHeadingPro, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  width: 500px;
  white-space: nowrap;
  margin-left: -50px;
}

.header-container__element h3:hover {
  text-decoration: underline;
}

.header-container__element button {
  margin-top: 1rem;
  margin-left: 8rem;
  padding: 0px 1rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 3rem;
  height: 3rem;
  font-size: 13px;
}

.header-container__element button img {
  margin-right: 0.5rem;
  height: 24px;
  width: 24px;
}

.header-menu-bottom{
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1.5px solid rgb(196, 194, 194);
}

.header-menu-bottom__element{
  background-color: white;
  font-size: 12px;
  gap: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.header-menu-bottom__element li {
  font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.header-menu-bottom__element li a {
  color: black;
  text-decoration: none;
}

.header-menu-bottom__element li a:hover {
  text-decoration: underline;
}

.section-support{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 12px;
  font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}


.section-support::after {
  content: '';
  display: block;
  width: 80%; 
  height: 1.5px; 
  background-color: rgb(196, 194, 194);
  position: absolute;
  bottom: 0; 
  left: 10%; 
}

.section-support img{
  border-radius: 6px;
  width: 50px;
  height: 50px;
}

.section-support a{
  font-weight: bold;
  color: rgb(61, 166, 247);
}

.todays-mix {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 1.5em;
  margin: 2em 0;
}

.todays-mix h1 {
  font-size: 2em;
  font-family: serif;
  margin-bottom: 1em;
  text-align: center;
}

.todays-mix-container {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  gap: 2em; 
  flex-wrap: wrap; 
}

.todays-mix__element {
  position: relative;
  width: 320px; 
  display: flex;
  flex-direction: column; 
  text-align: center;
  cursor: pointer;
}

.todays-mix__element:not(:last-child)::after {
  content: ""; 
  position: absolute;
  top: 0;
  right: -1em; 
  height: 52%; 
  width: 1px; 
  background-color: rgb(196, 194, 194); 
}

.todays-mix__element a{
  text-decoration: none;
}

.todays-mix__element img {
  width: 100%; 
  height: auto; 
  margin-bottom: 1em;
}

.todays-mix__element a h2 {
  font-size: 1.5em;
  color: rgb(64, 63, 63);
  font-weight: 100;
  margin-bottom: 0.5em;
  text-align: left;
  font-family: "TNYAdobeCaslonPro", "Times New Roman", Times, serif;
}

.todays-mix__element p {
  font-size: 1.1em;
  line-height: 1.5em;
  color: #555;
  text-align: left;
  font-family: "TNYAdobeCaslonPro", "Times New Roman", Times, serif;
}

.todays-mix__element p strong {
  font-size: 1em;
  color: #000;
  display: block;
  margin-top: 0.5em;
}

.todays-mix__element h2:hover{
  text-decoration: underline;
}

.profiles {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem; 
  width: 100%;
  background-color: #fff; 
  position: relative;
}

.profiles a{
  text-decoration: none;
}

.profiles-elements {
  display: flex;
  flex-direction: row;
  max-width: 1200px; 
  width: 100%;
  align-items: center;
}

.profiles-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; 
  margin-right: 4rem; 
  
}

.profiles-text h3 {
  color: #000;
  font-size: 1rem;
  color: #a00; 
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  text-align: center;
}

.profiles-text h1 {
  color: #3e3636;
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: center;
}

.profiles-text h1:hover{
  text-decoration: underline;
}

.profiles-text p {
  color: #000;
  font-size: 21px;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.profiles-text p strong {
  font-size: 1rem;
  color: #000;
}


.profiles-img {
  display: flex;
  justify-content: flex-end;
  max-width: 60%; 
  margin-left: 2rem;
}

.profiles-img img {
  width: 100%; 
  height: auto;
  border-radius: 0; 
}

.profiles::after {
  content: '';
  display: block;
  width: 80%; 
  height: 1.5px; 
  background-color: rgb(196, 194, 194);
  position: absolute;
  bottom: 0; 
  left: 10%; 
}


.daily-column-section {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 1.5em;
  margin: 2em 0;
}

.daily-column-section h1 {
  font-size: 2em;
  font-family: serif;
  text-align: center;
}

.daily-column-section span{
  font-size: 21px;
  margin-bottom: 1em;
}

.daily-column-container {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  gap: 2em; 
  flex-wrap: wrap; 
}

.daily-column__element {
  position: relative;
  width: 320px; 
  display: flex;
  flex-direction: column; 
  text-align: center;
  cursor: pointer;
}

.daily-column__element:not(:last-child)::after {
  content: ""; 
  position: absolute;
  top: 0;
  right: -1em; 
  height: 46%; 
  width: 1px; 
  background-color: rgb(196, 194, 194); 
}

.daily-column__element a{
  text-decoration: none;
}

.daily-column__element img {
  width: 100%; 
  height: auto; 
  margin-bottom: 1em;
}

.daily-column__element a h2 {
  font-size: 1.5em;
  color: rgb(64, 63, 63);
  font-weight: 100;
  margin-bottom: 0.5em;
  text-align: left;
  font-family: "TNYAdobeCaslonPro", "Times New Roman", Times, serif;
}

.daily-column__element p {
  font-size: 1.1em;
  line-height: 1.5em;
  color: #555;
  text-align: left;
  font-family: "TNYAdobeCaslonPro", "Times New Roman", Times, serif;
}

.daily-column__element p strong {
  font-size: 1em;
  color: #000;
  display: block;
  margin-top: 0.5em;
}

.daily-column__element h2:hover{
  text-decoration: underline;
}


.interview {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem; 
  width: 100%;
  background-color: white; 
  position: relative;
}

.interview a{
  text-decoration: none;
}

.interview-elements {
  background-color: black;
  display: flex;
  flex-direction: row;
  max-width: 85%; 
  width: 85%; 
  padding: 1.2rem 2rem; 
  align-items: center;
  margin: 0 auto; 
  transform: translateX(-3%);
}

.interview-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; 
  margin-right: 4rem; 
  
}

.interview-text h3 {
  font-size: 1rem;
  color: white; 
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  text-align: center;
}

.interview-text h1 {
  color: white;
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: center;
}

.interview-text h1:hover{
  text-decoration: underline;
}

.interview-text p {
  color: white;
  font-size: 21px;
  line-height: 1.8;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.interview-text p strong {
  font-size: 1rem;
  color: white;
}


.interview-img {
  display: flex;
  justify-content: flex-end;
  max-width: 60%; 
  margin-left: 2rem;
  padding-right: 2rem;
}

.interview-img img {
  width: 100%; 
  height: auto;
  border-radius: 0; 
}

.interview::after {
  content: '';
  display: block;
  width: 80%; 
  height: 1.5px; 
  background-color: rgb(196, 194, 194);
  position: absolute;
  bottom: 0; 
  left: 10%; 
}
